.header {
  padding: 20px;
  background-color: var(--brand-black-color);

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    .header__link {
      margin-right: 40px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--brand-white-color);

    &--active {
      color: lime;
    }

    &--cart {
      position: relative;

      &:hover {
        .header__cart-dropdown {
          display: block;
        }
      }
    }
  }

  &__cart-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(150, 150, 150);
    z-index: 2;
    width: 100px;
    text-align: center;
    padding: 30px 0;
  }
}
