.starship {
  border: 1px solid var(--border-color);
  text-align: center;
  list-style: none;

  &--pointer {
    .starship__name {
      cursor: pointer;
    }
  }

  &__name {
    font-weight: 700;
    padding: 20px 0;
  }

  &__add-to-cart {
    cursor: pointer;
    background-color: transparent;
    padding: 20px;
    border: 1px solid limegreen;
    outline: none;
    margin: 20px 0;
  }

  &__add-to-cart {
    cursor: pointer;
    background-color: transparent;
    padding: 20px;
    border: 1px solid limegreen;
    outline: none;
    margin: 20px 0;
  }

  &__added-to-cart {
    padding: 40px 0;
    color: limegreen;
    font-weight: bold;
  }

  &__remove-from-cart {
    padding: 20px 0;
    margin: 20px 0;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }
}
