.people {
  &__container {
    position: relative;
  }

  &__view {
    position: absolute;
    right: 0;
    display: flex;

    li {
      list-style: none;
    }

    > li > button {
      width: 30px;
      height: 30px;
      border: 1px solid var(--border-color);
      background: none;
      cursor: pointer;
    }
  }

  &__view-table {
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    outline: none;
  }

  &__view-table-rectangle {
    width: 10px;
    height: 10px;
    background-color: black;

    &--active {
      background-color: var(--green-color);
    }
  }

  &__view-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    outline: none;
  }

  &__view-list-line {
    width: 24px;
    height: 2px;
    background-color: black;

    &--active {
      background-color: var(--green-color);
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 10px;
  }
}
